:root {
    --title-color:#2E2F42; /* NAVY BLUE */
    --body-color:#434455; /* SLATE */
    --color-hover:#404BBF; /* OCEAN */
    --service-color:#4D5AE5; /*IRIS*/
    --nav-buton-color:#F4F4FD; /* CLOUD */
    --heading-font-family: "Raleway",Verdana,Tahoma, sans-serif;
    --text-font-family: "Roboto",Verdana,Tahoma, sans-serif;
}
 
.logo::before,
.end-section .end-logo::before {
    content: "WEB";
    color:var(--service-color);
}

.logo{
    color:var(--title-color);
    font-family:var(--heading-font-family);
    font-weight: 800;
}
.end-section .end-logo{
    color:var(--nav-buton-color);
    font-family:var(--heading-font-family);
    font-weight: 800;
}

body {
   color:var(--body-color);
   font-family:var(--text-font-family);
   font-size: 16px;
   line-height: 1.5;
}

.hero-section hr, .hero-filters hr{
    color: var(--nav-buton-color);
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.contact-list a:hover,
.contact-list a:focus {
    color:var(--color-hover);
}

.contact-list a{
    color:var(--body-color);
    font-style: normal;
}

.global-header .global-nav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-color);
}

.global-header .global-nav a:hover,
.global-header .global-nav a:focus {
    color:var(--color-hover);
}

.hero-section {
    background-color: var(--title-color);
    }

h1 {
    font-weight: 700; 
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    align-self: center;
    /* letter-spacing: 2%; */
}

h2 {
    color:var(--title-color);
    font-weight: 700; 
    font-size: 36px;
    line-height: 1.1;
    /* letter-spacing: 2%; */
}

h3 {
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
    /* letter-spacing: 2%; */
}
.service-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    border-radius: 4px;
    border-color: var(--title-color);
    background-color: var(--service-color);
    cursor:pointer;
    /* letter-spacing: 4%; */
}
.service-button:hover,
.service-button:focus{
    background-color:var(--color-hover);
}

.hero-filters .filters button {
    background-color: var(--nav-buton-color);
    color:var(--service-color);
    border-radius: 4px;
    border-color:#E7E9FC;
    border-width: 1px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* letter-spacing: 4%; */
}

.hero-filters .filters button:hover {
   color: #ffffff;
   background-color:var(--color-hover);
}

.section-card{
    background-color: var(--nav-buton-color);
}
.end-section{
    background-color:var(--title-color);
}
.end-section .end-text {
    color:var(--nav-buton-color);
}